@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-primary);
	font-size: 16px;
}

#code {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: 0;
	margin: 0;
	resize: none;
	color: var(--font-color);
	background: transparent;
	box-shadow: 0rem 0rem black;
}

#code2 {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: 0;
	margin: 0;
	color: var(--font-color);
	background: transparent;
	display: none;
	overflow: auto;
	box-shadow: 0rem 0rem black;
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#code-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 2rem;
	box-shadow: var(--color-shadow) 0rem 0rem 0.4rem;
}

#navbar {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2rem;
	line-height: 2rem;
	text-align: right;
	vertical-align: middle;
	background: var(--color-secondary);
	color: var(--font-color);
	white-space: nowrap;
	box-shadow: var(--color-shadow) 0 0 0.4rem;
}

#navbar a {
	display: inline-block;
	padding: 0 0.5rem;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

#navbar a:hover {
	background: var(--color-hover);
}

#settingsModal {
	position: absolute;
	background-color: var(--color-accent);
	color: var(--font-color);
	padding: 0.5em;
	top: 5rem;
	left: 5rem;
	right: 5rem;
	bottom: 5rem;
	border-radius: 1rem;
	box-shadow: var(--color-shadow) 0 0 0.4rem;
}

.switch {
	display: inline-block;
	height: 2rem;
	position: relative;
	width: 4rem;
	top: 0.5rem;
}

.switch input {
	display: none;
}

.slider {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	cursor: pointer;
	position: absolute;
	transition: 0.4s;
}

.slider:before {
	background-color: #fff;
	bottom: 0.25rem;
	content: '';
	height: 1.5rem;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 1.5rem;
}

#theme:checked + .slider {
	background-color: #66bb6a;
}

#theme:checked + .slider:before {
	transform: translateX(2rem);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.label {
	font-size: 1.5rem;
	padding-left: 2rem;
}

#fontSizeCode {
	padding-left: 2rem;
}

#tabSpaceSelect {
	background-color: var(--color-secondary);
	border: 1px solid var(--font-color);
	border-radius: 0.5rem;
	color: var(--font-color);
	padding: 0.75rem;
	font-size: 1rem;
}

#themeSelect {
	background-color: var(--color-secondary);
	border: 1px solid var(--font-color);
	border-radius: 0.5rem;
	color: var(--font-color);
	padding: 0.75rem;
	font-size: 1rem;
}

#shortcutsModal {
	position: absolute;
	background-color: var(--color-accent);
	color: var(--font-color);
	padding: 0.5em;
	top: 0;
	right: 0;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	border-radius: 1rem;
	box-shadow: var(--color-shadow) 0 0 0.4rem;
}

.label-shortcuts {
	font-size: 1.25rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

#fontSelect {
	background-color: var(--color-secondary);
	border: 1px solid var(--font-color);
	border-radius: 0.5rem;
	color: var(--font-color);
	padding: 0.75rem;
	font-size: 1rem;
}

i {
	color: var(--font-color);
	font-size: 1.25rem;
}

#output-wrapper {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 2rem;
	box-shadow: var(--color-shadow) 0 0 0.4rem;
	display: none;
	overflow: auto;
}

#output {
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	border: 0;
	margin: 0;
	color: var(--font-color);
	background: transparent;
	white-space: pre-wrap;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.hljs-ln-numbers {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hljs-ln-n {
	padding-right: 0.5rem;
}

.hljs-ln-code {
	padding-left: 0.5rem;
}
